<img class="fullBg" src="https://www.elsetge.cat/myimg/f/5-57459_galaxy-tumblr-wallpapers-desktop-background-matterhorn.jpg" alt="Image">

<mat-toolbar color="primary">
  <h1><span class="light">STUD</span>APP</h1>
  <span class="spacer"></span>
  <button mat-button (click)="seeCourses()" routerLinkActive="active">See Courses</button>
  <button mat-button (click)="seeAnnouncements()" routerLinkActive="active">Announcements</button>
  <button mat-button (click)="seeChat()" routerLinkActive="active">Chat</button>
</mat-toolbar>

<!--<router-outlet></router-outlet>-->

  <div [hidden]="!viewAnnouncements">
    <mat-grid-list cols="1" rowHeight="100px" class="announcement-display">
      <div *ngFor="let element of announcements">
        <mat-card class = "announcement">
          <mat-card-header class = "announcement-header">
            <mat-card-title>{{element.title}}</mat-card-title>
            <p class="likes">{{element.likes}}Likes</p>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{element.shortDescription}}
            </p>
          </mat-card-content>
          <mat-card-actions  class = "announcement-bottom">
            <button mat-icon-button (click)="like(element)">
              <mat-icon>thumb_up</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>

      </div>
    </mat-grid-list>
  </div>

<div [hidden]="!viewCourses">
  <div class="scrolling-wrapper">
    <div *ngFor="let element of courses">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{element.title}}</mat-card-title>
          <mat-card-subtitle>{{element.mainProfessor}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="element.image" alt="Photo of a Shiba Inu" (click)="openCourse(element)">
        <mat-card-content>
          <mat-card-subtitle>{{element.assistantProfessor}}</mat-card-subtitle>
          <div class="course-buttons-wrapper">
            <button mat-raised-button color="primary" (click)="seeReview(element)" class="course-buttons">See Reviews</button>
            <button mat-raised-button color="primary" (click)="leaveReview(element)" class="course-buttons">Leave Reviews</button>
            <button mat-raised-button color="primary" (click)="seeDetails(element)" class="course-buttons">See Details</button>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-progress-bar mode="determinate" [value]="element.progress"></mat-progress-bar>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div [hidden]="!seeFormReview" >
  <form [formGroup]="form" class="leave-review">
  <mat-card class="review">

    <div class="review-title">
      {{'Leave a review'}}
    </div>

    <div>
      <mat-divider></mat-divider>
    </div>
    <div class="select-lecture">
      <mat-form-field class="mf">
        <mat-select placeholder="Lecture" formControlName="lectureName">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let name of selected" [value]="name">{{name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="teacher-review">
      <mat-form-field class="mf">
        <mat-select placeholder="Teacher Grade" formControlName="teacherGrade">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let teacherGrade of grades" [value]="teacherGrade">{{teacherGrade}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mf">
        <textarea matInput placeholder="Teacher Review" formControlName="teacherReview"></textarea>
      </mat-form-field>

    </div>


    <div class="course-review">
      <mat-form-field class="mf">
        <mat-select placeholder="Lecture Grade" formControlName="lectureGrade">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let lectureGrade of grades" [value]="lectureGrade">{{lectureGrade}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mf">
        <textarea matInput placeholder="Lecture Review" formControlName="lectureReview"></textarea>
      </mat-form-field>
    </div>


    <button mat-raised-button color="primary" (click)="submitReview()">Submit Review</button>

  </mat-card>
  </form>
</div>

<div [hidden]="!seeReviews">
  <mat-card class="table">
    {{activeCourse.reviews}}
    <mat-table [dataSource]="activeCourse.reviews" >

      <ng-container matColumnDef="lectureTitle">
        <th mat-header-cell *matHeaderCellDef width="200px"> Lecture Name </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="professorMark">
        <th mat-header-cell *matHeaderCellDef width="100px"> Professor Mark</th>
        <td mat-cell *matCellDef="let element"> {{element.professorMark}} </td>
      </ng-container>

      <ng-container matColumnDef="professorReview">
        <th mat-header-cell *matHeaderCellDef width="300px"> Professor Review </th>
        <td mat-cell *matCellDef="let element"> {{element.professorReview}} </td>
      </ng-container>

      <ng-container matColumnDef="courseMark">
        <th mat-header-cell *matHeaderCellDef width="100px"> Course Mark </th>
        <td mat-cell *matCellDef="let element"> {{element.courseMark}} </td>
      </ng-container>

      <ng-container matColumnDef="courseReview" width="300px">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.courseReview}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>

  </mat-card>

</div>


<div [hidden]="!viewChat">
  <div class="chat-friends">
    <mat-list>
      <h3 matSubheader>Chat</h3>
      <mat-list-item *ngFor="let friend of friends" class="chat-list-item">
        <mat-icon matListIcon>fiber_manual_record</mat-icon>
        <h3 matLine (click)="seeChatWindow(friend)"> {{friend}}</h3>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div [hidden]="!viewChatWindow">
  <div class="chat-list">

    <mat-toolbar><mat-icon matListIcon>fiber_manual_record</mat-icon>{{friendName}}</mat-toolbar>
    <div class="chat-messages">
      <mat-list>
        <mat-list-item *ngFor="let destMessage of destMessages" >
          <p>{{destMessage}}</p>
        </mat-list-item>
      </mat-list>

      <mat-list >
        <mat-list-item *ngFor="let myMessage of myMessages">
          <p id="myMessagesList"> {{myMessage}}</p>
        </mat-list-item>
      </mat-list>
    </div>

    <mat-form-field class="chat-input">
      <input #chatMessage="ngModel" required matInput placeholder="Message" [(ngModel)]="messageValue">
      <mat-icon (click)="sendMessage(chatMessage.dirty, messageValue)" matSuffix>send</mat-icon>
      <mat-icon (click)="file.click()" matSuffix>add</mat-icon>
      <input type="file" style="display: none" #file (change)="fileChange($event)"/>
    </mat-form-field>
  </div>
</div>

<div [hidden]="!viewCourseDetails" class="view-courses">
  <mat-card class="lectures-wrapper">

    <div class = "lectures-title">
      {{'Your Courses'}}
    </div>

    <div>
      <mat-divider></mat-divider>

    </div>
    <div class="lectures-list">

      <mat-card class = "lectures" *ngFor="let name of selected">
        {{name}}
        <div class="buttons-lectures">
          <button mat-raised-button (click)="onEnroll(name)" class="buttonB">Enroll</button>
          <button mat-raised-button (click)="onSeeGrades(name)" class="buttonB">See Grades</button>
        </div>
      </mat-card>

    </div>
  </mat-card>
</div>

<app-student-grades-smart *ngIf="viewGrades"></app-student-grades-smart>
<app-enrollment-page-smart *ngIf="viewEnrollment"></app-enrollment-page-smart>



