<img class="fullBg" src="https://www.elsetge.cat/myimg/f/5-57459_galaxy-tumblr-wallpapers-desktop-background-matterhorn.jpg" alt="Image">

<mat-toolbar color="primary">
  <h1><span class="light">STUD</span>APP</h1>
  <span class="spacer"></span>
  <a mat-button [routerLink]="['/home']" routerLinkActive="active">HOME</a>
  <a mat-button [routerLink]="['/login']" routerLinkActive="active">LOGIN</a>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title><h1>{{page.title}}</h1></mat-card-title>
    <mat-card-subtitle>{{page.subtitle}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

