label{
    color:white;
}
#form{
    width:300px;
}
#message{
    width:258px;
    height:130px;
}
#div1{
    display: inline-block;
    margin-left:140px;
}
#div2{
    display: inline-block;
    margin:20px;
    padding:0;
    display:block;
    float:left;
    position:relative;
}