<body>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">Univeristy App</h2>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item"><a routerLink="/secretaryViewStudents" class="btn btn-info">View enrolled students</a></li>
              <li class="list-inline-item"><a routerLink="/" class="btn btn-info">Announcements</a></li>
              <li class="list-inline-item"><a routerLink="/" class="btn btn-info">Email</a></li>
            </ul>


            <p class="text-left list-inline py-3" id="p1"> Please select a criteria for viewing the students:      </p>
            <select type="number" [(ngModel)]="levelNum" (ngModelChange)="toNumber()">
            <option *ngFor="let level of levels" [ngValue]="level.num">{{level.name}}</option>
            </select>
            {{levelNum}}

            <button type="submit"  class="btn btn-info" (click)="showTable()" ng-show = "IsVisible">View students</button>
            
            <table ng-table="myTable" class="table table-bordered table-striped table-light">
                <thead class="thead-light">
                    <tr>
                      <th scope="col">First name</th>
                      <th scope="col">Last name</th>
                      <th scope="col">Group</th>
                      <th scope="col">University</th>
                      <th scope="col">Faculty</th>
                      <th scope="col">Country</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of students">
                      <td>{{ student.firstname }}</td>
                      <td>{{ student.lastname }}</td>
                      <td>{{ student.group }}</td>
                      <td>{{ student.university }}</td>
                      <td>{{ student.faculty }}</td>
                      <td>{{ student.country }}</td>
                    </tr>
                  </tbody>
            </table>

          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<body>