p{
    color:white;
}
#p1{
    display: inline-block;
}
select{
    display: inline-block;
    margin-left:10px;
}
button{
    margin-left:100px;
}
html,body{
    background-color: #343A40;
    margin: 0;
    width: 100%;
    
}
container{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}