.emails {
	height:25px;
	width: 100%;
	background: rgba(255,255,255,0.7);
	display:flex;
}

mat-grid-tile {
  background: lightblue;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}