<img class="fullBg" src="https://wallpaperaccess.com/full/1567665.png" alt="Image">

<mat-toolbar color="primary">
  <h1><span class="light">STUD</span>APP</h1>
  <span class="spacer"></span>
  <button mat-button routerLinkActive="active">View enrolled students</button>
  <button mat-button (click)="seeAnnouncements()" routerLinkActive="active">Announcements</button>
  <button mat-button (click)="seeChat()" routerLinkActive="active">Chat</button>
</mat-toolbar>

<div [hidden]="!viewAnnouncements">
  <div class="announcement-container">
    <div class="announcement-selection">
      <mat-form-field>
        <mat-select placeholder="Target audience">
          <mat-option value="everyone">Everyone</mat-option>
          <mat-option value="teachers">Teachers</mat-option>
          <mat-option value="students">Students</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Type of post">
          <mat-option value="Administrative">Administrative</mat-option>
          <mat-option value="Opportunity">Opportunity</mat-option>
          <mat-option value="Job">Job</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="announcement-text">
      <mat-form-field>
        <input #annTitle="ngModel" required matInput placeholder="Title" [(ngModel)]="announcementTitle">
      </mat-form-field>

      <mat-form-field>
        <textarea required matInput type="text" placeholder="Body"></textarea>
      </mat-form-field>
    </div>

    <div class="announcement-button">
      <mat-label>{{uploadFileName}}</mat-label>
      <button (click)="file2.click()" mat-button>Upload</button>
      <button [disabled]="annTitle.pristine" mat-raised-button (click)="uploadFileName=''; announcementsDummies.unshift(announcementTitle); annTitle.reset()">Submit</button>
      <input type="file" style="display: none" #file2 (change)="fileChangeAnnouncement($event)"/>
    </div>
  </div>
</div>

<div [hidden]="!viewAnnouncements">
  <div class="announcement-list">
    <mat-list>
      <mat-list-item *ngFor="let announcement of announcementsDummies">
        <mat-icon matListIcon>announcement</mat-icon>
        <a href="#" matLine>{{announcement}}</a>
      </mat-list-item>
      <button mat-button>Archive</button>
    </mat-list>
  </div>
</div>

<div [hidden]="!viewChat">
  <div class="chat-friends">
    <mat-list>
      <h3 matSubheader>Chat</h3>
      <mat-list-item *ngFor="let friend of friends">
        <mat-icon matListIcon>fiber_manual_record</mat-icon>
        <h3 matLine (click)="seeChatWindow(friend)"> {{friend}}</h3>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div [hidden]="!viewChatWindow">
  <div class="chat-list">

    <mat-toolbar><mat-icon matListIcon>fiber_manual_record</mat-icon>{{friendName}}</mat-toolbar>>
    <div class="chat-messages">
      <mat-list>
        <mat-list-item *ngFor="let destMessage of destMessages">
          <p>{{destMessage}}</p>
        </mat-list-item>
      </mat-list>

      <mat-list >
        <mat-list-item *ngFor="let myMessage of myMessages">
          <p id="myMessagesList"> {{myMessage}}</p>
        </mat-list-item>
      </mat-list>
    </div>

    <mat-form-field>
      <input #chatMessage="ngModel" required matInput placeholder="Message" [(ngModel)]="messageValue">
      <mat-icon (click)="sendMessage(chatMessage.dirty, messageValue)" matSuffix>send</mat-icon>
      <mat-icon (click)="file.click()" matSuffix>add</mat-icon>
      <input type="file" style="display: none" #file (change)="fileChange($event)"/>
    </mat-form-field>
  </div>
</div>
